# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build
bin/
obj/
out/

# Rider
.idea/

# OS files
.DS_Store
Thumbs.db

# ASP.NET Core
appsettings.*.json
*.db

# NuGet
*.nupkg
.nuget/

# Logs
*.log

# Others
.vscode/
